<footer class="d-flex flex-wrap justify-content-between py-3 my-4 border-top border-dark">
    <div class="col-md-4 d-flex">
        <a href="https://github.com/YoBombel/BrewShare"
           class="mb-3 me-2 mb-md-0 lh-1">
            <img th:src="@{/img/git.svg}" class="github" width="100%" alt="Git">
        </a>
        <span class="mb-3 mb-md-0">&copy; 2023 Bieńkowski Tomasz</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#">
            <img th:src="@{/img/linkedin.svg}" id="linkedin" width="100%" alt="LinkedIn"></a>
        </li>
        <li class="ms-3"><a class="text-muted" href="https://github.com/YoBombel">
            <img th:src="@{/img/github.svg}" class="github" width="100%" alt="Github"></a>
        </li>
        <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/yobombel/">
            <img th:src="@{/img/instagram.svg}" id="instagram" width="100%" alt="Instagram"></a>
        </li>

    </ul>
</footer>