body {
    color: #383838;
    background-color: snow;
}

a {
    text-decoration: none;
    color: #383838;
}

.link-orange-hover:hover{
    color: darkorange; !important;
    text-decoration-color: darkorange; !important;
}

.min-height-250{
    min-height: 250px;
}