body {
    color: #cecece;
}

a {
    text-decoration: none;
    color: #cecece;
}

#logo{
    color: darkorange;
}

.link-orange-hover:hover{
    color: darkorange; !important;
    text-decoration-color: darkorange; !important;
}