<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

    <meta charset="UTF-8">
    <title>BrewShare</title>
</head>
<body>
<div class="container fs-4">

    <!-- HEADER -->
    <div th:insert="~{fragments/header}"></div>

    <div class="row fs-6 m-2">
        <div th:each="beer : ${beers}" class="col-md-3 my-2">
            <div class="border border-dark rounded min-height-250 overflow-hidden">
                <a th:href="@{/beer/id/{id}(id = ${beer.id})}" class="link-orange-hover">
                    <div class="border-bottom border-dark mb-2 bg-warning bg-opacity-75 p-2">
                        <h5 class="" th:text="${beer.name}"></h5>
                    </div>
                    <div class="px-2">
                    <ul class="list-unstyled my-0">
                        <li>Style: <span th:text="${beer.style}"></span></li>
                        <li>Batch size: <span th:text="${beer.batchSize}"></span></li>
                        <li>OG: <span th:text="${beer.originalGravity}"></span></li>
                        <li>ABV: <span th:text="${beer.abv}"></span></li>
                        <li>IBU: <span th:text="${beer.ibu}"></span></li>
                        <li>Color: <span th:text="${beer.color}"></span></li>
                    </ul>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <nav aria-label="my-custom-pagination" class="flex-row d-flex justify-content-center">
        <ul class="pagination">
            <li th:class="${beers.isFirst()} ? 'page-item disabled' : 'page-item'">
                <a class="btn btn-outline-dark" th:text="'&laquo;'"
                   th:href="@{all?page=1}"></a>
            </li>
            <li th:each="actPageNumb : ${threeClosestPages}"
                th:class="${beers.getNumber()+1 == actPageNumb} ? 'page-item active' : 'page-item'">
                <a class="btn btn-outline-dark" th:text="${actPageNumb}" th:href="@{all(page=${actPageNumb})}"></a>
            </li>
            <li th:class="${beers.isLast()} ? 'page-item disabled' : 'page-item'">
                <a class="btn btn-outline-dark" th:text="'&raquo;'"
                   th:href="@{all(page=${beers.getTotalPages()})}"></a>
            </li>
        </ul>
    </nav>

</div>

<div class="px-3" th:insert="~{fragments/footer}"></div>

<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>