<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

    <meta charset="UTF-8">
    <title>BrewShare</title>
</head>
<body>
<div class="container fs-4">

    <!-- HEADER -->
    <div th:insert="~{fragments/header}"></div>

    <div class="row fs-6">
        <div class="border border-dark rounded col-md-12 mb-3 py-1 mx-auto">
            <h4 class="my-0" th:text="${beer.name}"></h4>
            <ul class="list-unstyled my-0">
                <li>Style: <span th:text="${beer.style}"></span></li>
                <li>Batch size: <span th:text="${beer.batchSize}"></span></li>
                <li>OG: <span th:text="${beer.originalGravity}"></span></li>
                <li>ABV: <span th:text="${beer.abv}"></span></li>
                <li>IBU: <span th:text="${beer.ibu}"></span></li>
                <li>Color: <span th:text="${beer.color}"></span></li>
            </ul>
            <ol>
                <li th:each="ingredient :${beer.ingredients}">
                    <span th:text="${ingredient.name}"></span> - amount: <span th:text="${ingredient.amount}"></span>
                </li>
            </ol>
            <div class="d-flex justify-content-end m-2">
                <button class=" btn btn-outline-info"
                        th:onclick="'copyLink(\'' + ${beer.id} + '\', this)'">Copy link
                </button>
                <a th:href="@{/beer/edit/{id}(id = ${beer.id})}">
                    <button class="btn btn-outline-dark mx-2">Edit</button>
                </a>
                <form th:action="@{/beer/id/{id}(id = ${beer.id})}" th:method="delete">
                    <button class="btn btn-outline-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="px-3" th:insert="~{fragments/footer}"></div>

<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>

</body>
</html>