<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

    <meta charset="UTF-8">
    <title>BrewShare</title>
</head>
<body class="mx-auto">
<div class="container fs-4">

    <!-- HEADER -->
    <div th:insert="~{fragments/header}"></div>

    <div class="row my-2 mx-auto w-50">
        <div class="col-md-12">
            <h1>Hello</h1>
        </div>
    </div>

</div>

<div class="px-3 fixed-bottom" th:insert="~{fragments/footer}"></div>

<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>