<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>

  <meta charset="UTF-8">
  <title>BrewShare</title>
</head>
<body>
<div class="container fs-4">

  <!-- HEADER -->
  <div th:insert="~{fragments/header}"></div>

  <div class="row fs-6 my-2">
    <div class="border border-dark rounded col-md-5 mb-3 py-1 mx-auto">
      <h2>Statistics</h2>
        <h4>Overall: </h4>
        <ul>
          <li>Beers: <span th:text="${stats.beerCount}"></span></li>
          <li>Total volume: <span th:text="${stats.totalVolume}"></span> liters</li>
        </ul>
      <h4>Original gravity: </h4>
        <ul>
          <li>Average: <span th:text="${stats.gravityStats.average}"></span> °Plato</li>
          <li>Max: <span th:text="${stats.gravityStats.max}"></span> °Plato</li>
          <li>Min: <span th:text="${stats.gravityStats.min}"></span> °Plato</li>
        </ul>
      <h4>Alcohol: </h4>
      <ul>
        <li>Average: <span th:text="${stats.alcoholStats.average}"></span>% ABV</li>
        <li>Max: <span th:text="${stats.alcoholStats.max}"></span>% ABV</li>
        <li>Min: <span th:text="${stats.alcoholStats.min}"></span>% ABV</li>
      </ul>
      <h4>IBU: </h4>
      <ul>
        <li>Average: <span th:text="${stats.ibuStats.average}"></span></li>
        <li>Max: <span th:text="${stats.ibuStats.max}"></span></li>
        <li>Min: <span th:text="${stats.ibuStats.min}"></span></li>
      </ul>
      <h4>Color: </h4>
      <ul>
        <li>Average: <span th:text="${stats.colorStats.average}"></span> EBC</li>
        <li>Max: <span th:text="${stats.colorStats.max}"></span> EBC</li>
        <li>Min: <span th:text="${stats.colorStats.min}"></span> EBC</li>
      </ul>
    </div>
  </div>
</div>

<div class="px-3" th:insert="~{fragments/footer}"></div>

<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>