<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

    <meta charset="UTF-8">
    <title>BrewShare - stats</title>
</head>
<body>
<div class="container fs-4">

    <!-- HEADER -->
    <div th:insert="~{fragments/header}"></div>


    <div class="border border-dark rounded col-md-5 mb-3 mx-auto overflow-hidden w-auto">

        <div class="border-bottom border-dark mb-2 bg-warning bg-opacity-75 p-2">
            <h2>Statistics</h2>
        </div>
        <div class="row px-2">
            <div class="col-md-6">
                <h4>Overall: </h4>
                <ul>
                    <li>Beers: <span th:text="${stats.beerCount}"></span></li>
                    <li>Total volume: <span th:text="${stats.totalVolume}"></span> liters</li>
                </ul>
                <!-- percentage + amount -->
                <h4>Style families</h4>
                <ul>
                    <li th:each="entry : ${stats.styleStats.familiesPercentage}"><span th:text="${entry.key}"></span> - <span th:text="${entry.value}"></span>%</li>
                </ul>
                <h4>Color</h4>
                <ul>
                    <li th:each="entry : ${stats.styleStats.colorsPercentage}"><span th:text="${entry.key}"></span> - <span th:text="${entry.value}"></span>%</li>
                </ul>
                <h4>Fermentation type</h4>
                <ul>
                    <li th:each="entry : ${stats.styleStats.fermentationTypePercentage}"><span th:text="${entry.key}"></span> - <span th:text="${entry.value}"></span>%</li>
                </ul>
                <h4>Balance</h4>
                <ul>
                    <li th:each="entry : ${stats.styleStats.balancePercentage}"><span th:text="${entry.key}"></span> - <span th:text="${entry.value}"></span>%</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Specs</h2>
                <div th:each="aggregateStat : ${stats.aggregateStats}">
                    <h4 th:text="${aggregateStat.statType.value}"></h4>
                    <ul>
                        <li>Min: <span th:text="${aggregateStat.minMaxAvg[0]}"></span> <span th:text="${aggregateStat.statType.unit}"></span></li>
                        <li>Max: <span th:text="${aggregateStat.minMaxAvg[1]}"></span> <span th:text="${aggregateStat.statType.unit}"></span></li>
                        <li>Avg: <span th:text="${aggregateStat.minMaxAvg[2]}"></span> <span th:text="${aggregateStat.statType.unit}"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="px-3" th:insert="~{fragments/footer}"></div>

<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>