<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

    <meta charset="UTF-8">
    <title>BrewShare - stats</title>
</head>
<body>
<div class="container fs-4">

    <!-- HEADER -->
    <div th:insert="~{fragments/header}"></div>

    <div class="row fs-6 m-2 w-auto">

        <div class="row px-2">
            <div class="col-md-6">
                <h4><img th:src="@{/img/stats.png}" width="40px"> Overall: </h4>
                <ul>
                    <li>Beers: <span th:text="${stats.beerCount}"></span></li>
                    <li>Total volume: <span th:text="${stats.totalVolume}"></span> liters</li>
                </ul>
                <!-- percentage + amount -->
                <h4><img th:src="@{/img/podium.png}" width="40px"> Top 3 style families</h4>
                <ol>
                    <li>Pils - xx% (xx beers)</li>
                    <li>Stout - xx% (xx beers)</li>
                    <li>Sour - xx% (xx beers)</li>
                </ol>
                <h4><img th:src="@{/img/color.png}" width="40px"> Color</h4>
                <ul>
                    <li>Pale - 50% (50 beers)</li>
                    <li>Amber - 25% (25 beers)</li>
                    <li>Dark - 25% (25 beers)</li>
                </ul>
                <h4><img th:src="@{/img/fermentation.png}" width="40px"> Fermentation type</h4>
                <ul>
                    <li>Ale - 50% (50 beers)</li>
                    <li>Lager - 40% (40 beers)</li>
                    <li>Sour/wild - 10% (10 beers)</li>
                </ul>
                <h4><img th:src="@{/img/balance.png}" width="40px"> Balance</h4>
                <ul>
                    <li>Hoppy - 50% (50 beers)</li>
                    <li>Balanced - 40% (40 beers)</li>
                    <li>Malty - 10% (10 beers)</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4><img th:src="@{/img/hydrometer.png}" width="40px"> Original gravity: </h4>
                <ul>
                    <li>Average: <span th:text="${stats.gravityStats.average}"></span> °Plato</li>
                    <li>Max: <span th:text="${stats.gravityStats.max}"></span> °Plato</li>
                    <li>Min: <span th:text="${stats.gravityStats.min}"></span> °Plato</li>
                </ul>
                <h4><img th:src="@{/img/percent.png}" width="40px"> Alcohol: </h4>
                <ul>
                    <li>Average: <span th:text="${stats.alcoholStats.average}"></span>% ABV</li>
                    <li>Max: <span th:text="${stats.alcoholStats.max}"></span>% ABV</li>
                    <li>Min: <span th:text="${stats.alcoholStats.min}"></span>% ABV</li>
                </ul>
                <h4><img th:src="@{/img/hop.png}" width="40px"> IBU: </h4>
                <ul>
                    <li>Average: <span th:text="${stats.ibuStats.average}"></span></li>
                    <li>Max: <span th:text="${stats.ibuStats.max}"></span></li>
                    <li>Min: <span th:text="${stats.ibuStats.min}"></span></li>
                </ul>
                <h4><img th:src="@{/img/color.png}" width="40px"> Color: </h4>
                <ul>
                    <li>Average: <span th:text="${stats.colorStats.average}"></span> EBC</li>
                    <li>Max: <span th:text="${stats.colorStats.max}"></span> EBC</li>
                    <li>Min: <span th:text="${stats.colorStats.min}"></span> EBC</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="px-3" th:insert="~{fragments/footer}"></div>

<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>